<style>
    .content {
        padding-top: 5%;
        padding-left: 30%;
        max-width: 500px;
        padding-right: 30%;
        margin: auto;
        text-align: center;
    }

    .content-button {
        align-content: center;
    }
</style>

<div class="content">
    <h1>Angular + Node project implementation</h1>

    <div class="content-button">
        <button type="submit">
            <a routerLink="/"> Home </a>
        </button>
        &nbsp;
        <button type="submit">
            <a routerLink="/arithmetic"> ARITHMETIC </a>
        </button>
        &nbsp;
        <button>
            <a routerLink="/number"> NUMBER </a>
        </button>
    </div>
    <h3>--------------------------------------------------------------------------</h3>
</div>

<router-outlet></router-outlet>